@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
root {
    font-family: 'Playfair Display';
}
#cluster-map {
    width: 100%;
    height: 450px;
}

#map {
    width: 100%;
    height: 300px;
}


