<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div class="mt-4">
                <h3 class="float-md-left mb-0">YelpCamp</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/campgrounds">Campgrounds</a>
                    <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link active" href="/register">Register</a>
                    <% } else { %>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <!-- Section: Design Block -->
              <section class="text-center text-lg-start">
                  <style>
                  .cascading-right {
                      margin-right: -50px;
                  }

                  @media (max-width: 991.98px) {
                      .cascading-right {
                      margin-right: 0;
                      }
                  }
                  </style>

                  <!-- Jumbotron -->
                  <div class="container py-4">
                  <div class="row g-0 align-items-center">
                      <div class="col-lg-6 mb-5 mb-lg-0">
                      <div class="card cascading-right" style="
                          background: hsl(233, 22%, 7%);
                          backdrop-filter: blur(30px);
                          ">
                          <div class="card-body p-5 shadow-5 text-center">
                          <h2 class="fw-bold mb-5">Register</h2>
                              <form action="/register" method="POST" class="validated-form" novalidate>
                                  <div class="mb-3">
                                      <label class="form-label" for="username">Username</label>
                                      <input class="form-control" type="text" id="username" name="username" required autofocus>
                                      <div class="valid-feedback">
                                          Looks good!
                                      </div>
                                  </div>
                                  <div class="mb-3">
                                      <label class="form-label" for="email">Email</label>
                                      <input class="form-control" type="email" id="email" name="email" required>
                                      <div class="valid-feedback">
                                          Looks good!
                                      </div>
                                  </div>
                                  <div class="mb-3">
                                      <label class="form-label" for="password">Password</label>
                                      <input class="form-control" type="password" id="password" name="password" required>
                                      <div class="valid-feedback">
                                          Looks good!
                                      </div>
                                  </div>
                                  <button class="btn btn-warning btn-block">Register</button>
                              </form>
                          </div>
                      </div>
                      </div>

                      <div class="col-lg-6 mb-5 mb-lg-0">
                      <img src="https://images.unsplash.com/photo-1637622015411-60f343b678cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="w-100 rounded-4 shadow-4"
                          alt="" />
                      </div>
                  </div>
                  </div>
                  <!-- Jumbotron -->
              </section>
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2022 </p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>